$chocolate-color: rgba(216, 125, 74, 1);
@mixin font($fontWeight, $fontSize, $lineHeight, $letterSpacing, $color) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $color;
}
